h1 {
    font-size: 20px;
    font-family: sans-serif;
    color: rgba(0, 204, 255, 0.76);
    margin-top: 50px;
    margin-left: 50px;
    align-content: center;
}

span {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    float: inline-start;
    align-content: center;
}

.nav {
    font-family: sans-serif;
    font-size: 16px;
    color: moccasin;
    float: inline-start;
    align-content: center;
}